.audio__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio__mike__start {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
}

.audio__mike__stop {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    border-radius: 50%;
}